/*
Theme Name: Imperio

Adding support for language written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

http://codex.wordpress.org/Right_to_Left_Language_Support

*/

body {
	direction: rtl;
	unicode-bidi: embed;
}

.navbar-right {
    float: left !important;
}
.widget-contact-content:not(.centered) i, .comments-lovepost, .metas .date, .metas, .page_content .metas-container p, .metas-container a{
	float: right;
}
.the_title h2, .des_recent_posts_widget.widget h4, .blog-default-bg-masonry .post-summary p, .metas, .post-listing .post .post-content blockquote, .widget h2{
	text-align: right;
}

/*Menu*/
.navbar-nav > li {
    float: right;
}
.navbar-nav li a{
	text-align: right;
}
.dropdown-menu li.menu-item-has-children:not(.imperio_mega_hide_link) > a:before {
    right: auto;
    float: left;
    left: 0;
    content: '\f104';
}
header.navbar .dropdown-menu .main-menu-icon {
    top: 1px;
    float: right;
    padding-left: 20px;
    left: auto;
    right: -13px;
}
header.navbar.menu-rounded .navbar-collapse li.imperio_mega_menu li li {
    width: 100%;
}
.navbar-collapse li.imperio_mega_menu ul.menu-depth-2, .navbar-collapse li.imperio_mega_menu:first-child ul.menu-depth-2 {
    border-right: none !important;
}
header.navbar .navbar-collapse ul li:not(.imperio_mega_menu) ul li ul {
    right: 100%;
    top: 0;
    left: auto;
}   
header.navbar.menu-rounded .navbar-collapse ul li.imperio_mega_menu ul li ul li a {
    padding: 8px 20px;
    margin-left: 20px;
    margin-right: 0;
}
header.navbar .navbar-collapse ul li.imperio_mega_menu ul li:last-child ul {
    border-right: none;
    border-left: none;
}

/* Header 2 */ 
.header_style2_contact_info {
    right: auto;
    left: 0;
}
header.style2 .navbar-collapse .navbar-nav {
    float: right !important;
}
header.style2 .imperio_right_header_icons {
    float: left;
}

.testimonials.style1 {
    padding-right: 0;
    text-align: right;
    padding-left: 100px;
}
.testimonials.style1 .testimonial p {
    text-align: right !important;
}
.testimonials.style1 .testimonial-box {
    float: right;
    text-align: right;
}
.testimonials.style1 .testimonial-nav {
    float: right;
}
.testimonials.style1 .testimonial span, .testimonials.style1 .testimonial span a {
    text-align: right;
    float: right;
}
.testimonials.style1 .testimonial span a{
	float: left;
    line-height: 25px;
    padding-right: 3px;
}
.imperio_minicart_wrapper {
    right: auto;
    left: -10px;
}

/* Widgets / Blog */
.widget-contact-info-content {
    padding-left: 0;
    padding-right: 55px;
    text-align: right;
}
.widget ul li a, .footer_sidebar ul li a {
    padding-right: 0;
    padding-left: 15px;
}
#secondary_footer .footer_logo.align-left, #secondary_footer .footer_custom_text.left{
    float: right;
}

#secondary_footer .footer_custom_text.left {
    float: right;
	border-left: none;
    border-right: 1px solid #2F2F2F;
    padding-left: 0;
    margin-top: 20px;
    margin-left: 0;
    padding-right: 30px;
    margin-right: 30px;
}
#secondary_footer .social-icons-fa.align-right {
    float: left;
}
.widget li a:hover, .widget_nav_menu li a:hover, .footer_sidebar ul li a:hover, .custom-widget li a:hover {
    padding-left: auto;
    padding-right: 5px;
}
.widget li a:hover:before, .widget_nav_menu li a:hover:before, .footer_sidebar ul li a:hover:before, .custom-widget li a:hover:before {
    display: none;
}
.single-post .share-buttons h5 {
    text-align: right;
    margin-right: 0;
}
.social-shares ul li {
    float: right;
}
.social-shares ul li a {
    margin: 0 0 0 15px;
}
.social-shares ul li i {
    margin-right: 0;
    margin-left: 7px;
}

/*Right Sliding Sidebar*/
.imperio-push-sidebar.imperio-push-sidebar-right {
    left: -300px;
    right: auto;
    -webkit-transition: left 400ms ease;
    -moz-transition: left 400ms ease;
    -o-transition: left 400ms ease;
    transition: left 400ms ease;
}

.imperio-push-sidebar.imperio-push-sidebar-right.opened {
    left: 0;
	right: auto;
}

body #main {
    -webkit-transition: left 400ms ease;
    -moz-transition: left 400ms ease;
    -o-transition: left 400ms ease;
    transition: left 400ms ease;
    position: relative;
	right: auto;
	left:0px; 
    float: right;
    width: 100%;
}

body #main header {
    -webkit-transition: all 400ms ease !important;
    -moz-transition: all 400ms ease !important;
    -o-transition: all 400ms ease !important;
    transition: all 400ms ease !important;
    right: auto;
    left: 0;
}

body.imperio-push-sidebar-opened #main {
    left: 300px;
    right: auto;
}

body.imperio-push-sidebar-opened #main #header #header-inner-wrap.no-transparent.top-animate,body.imperio-push-sidebar-opened #main header {
    left: 300px;
    right: auto;
}

body.imperio-push-sidebar-opened #main header.header-with-container,body.imperio-push-sidebar-opened #main header.header-full-width.header_not_fixed {
    left: 0;
}

body.imperio-push-sidebar-opened #main header.header-with-container.navbar-fixed-top:not(.header_not_fixed),body.imperio-push-sidebar-opened #main header.header-full-width.navbar-fixed-top:not(.header_not_fixed) {
    left: 300px;
    right: auto;
}

/* Search */
header .search_close{
	float: left !important;
	padding: 35px 0 0 30px;
}
header .search_input input.search_input_value {
    padding-right: 40px;
    text-align: right;
}

.page-template-blog-masonry-template .date i {
    margin-right: 0;
    margin-left: 5px;
}

/* Responsive */
@media only screen and (max-width: 993px) and (min-width: 768px){
	header.style1 .imperio_right_header_icons {
	    position: relative;
	    float: left;
	    top: 0;
	    margin-right: auto;
	    margin-left: 20px;
	}
	.navbar-brand {
	    left: 130px;
	    position: relative;
	}
	header.style1 .nav-container .dl-menuwrapper {
	    z-index: 9999999999;
	}
	.dl-menuwrapper li a{
		text-align: right;
	}
	.dl-menuwrapper .gosubmenu{
		right: auto;
		left: 0;
	}
	.dl-menuwrapper .gosubmenu{
		transform: rotate(180deg);
	}
	.dl-menuwrapper li.dl-back:after{
		right: 50px;
	}
}

@media only screen and (max-width: 479px){
	.dl-menuwrapper button {
	    float: left;
	    right: auto;
	    top: -12px;
	    position: relative;
	    left: -12px;
	}
	header .nav-container .dl-menuwrapper {
	    width: 94%;
	    margin-right: 9px;
	    margin-top: 40px;
	}
	header.style1 .nav-container .navbar-header a {
	    left: auto;
	    right: 25px;
	}
	.dl-menuwrapper li a{
		text-align: right;
	}
	.dl-menuwrapper .gosubmenu{
		right: auto;
		left: 0;
		transform: rotate(180deg);
	}
	.dl-menuwrapper li.dl-back:after{
		right: 50px;
	}
	header.header-full-width .search_close {
	    margin-right: 25px;
	    top: -5px;
	}
	header .search_input input.search_input_value {
	    padding-right: 20px;
	    padding-left: 20px;
	}
	.dl-menuwrapper li a {
	    padding: 15px 15px 15px 15px;
	}
	
	
}
