@IMPORT url("jquery-ui-1.12.1.custom.min.css");

.custom-page-wrapper {
	width: 700px;
}

.custom-page-wrapper h1 {
	text-shadow: 1px 1px #fff;
	font: italic 22px/ 35px Georgia, "Times New Roman", "Bitstream Charter",
		Times, serif;
	margin: 15px 0;
	text-shadow: 0 1px 0 #FFFFFF;
}

html* .custom-page-wrapper h1 {  /* IE7 only */
	margin-bottom:0px;
	margin-top:20px;
}

.custom-item-wrapper {
	width: 700px;
	margin-bottom: 30px;
	position: relative;
}

.custom-section {
	padding: 15px;
}

.custom-item-wrapper {
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #fafafa;
}

.custom-item-wrapper h3 {
	padding: 15px 15px 15px 35px;
	border-bottom: 1px solid #fff;
	margin-top: 0px;
	margin-bottom: 0px;
	cursor: pointer;
	background: url("../images/dialog_heading.png") repeat-x scroll 0 0
		transparent;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	text-transform: capitalize;
	text-shadow: 1px 1px #f2fafd;
	font-weight: bold;
	color: #21759b;
}

.closed-container h3 {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-bottom-width:0px;
}

.arrow {
	background-image: url("../images/ui/icons.png");
	height: 16px;
	width: 16px;
	background-position: -64px -16px;
	position: absolute;
	left: 700px;
	top: 16px;
}

.closed-container .arrow {
	background-position: -32px -16px;
}

input.invalid,textarea.invalid {
	border: 1px solid red;
}

.custom-section .sortable img {
	width: 100px;
	height: 100px;
	float: left;
	border: 1px solid #dfdfdf;
	margin-right: 15px;
	padding: 4px;
	background-color: #f6f6f6;
}

.custom-section .sortable li {
	border: 1px solid #dfdfdf;
	height: auto;
	overflow: hidden;
	padding: 15px;
	background-color: #fff;
	position: relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.sortable label {
    color: #21759B;
    display: block;
    float: left;
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 5px;
    width: 100%;
}

.sortable .item{
    margin-bottom: 15px;
    overflow: hidden;
    color: #666666;
    font-size: 11px;
    overflow: hidden;
    width:500px;
}

.sortable textarea, .sortable input[type="text"]{
	color: #666666;
    font-size: 11px;
    width: 450px;	
}

.item > span{
	display:block;
	float: left;
}

.item-wrapper{
float:left;	
}

.loading {
	width: 15px;
	height: 15px;
	background: url(../images/loading.gif) no-repeat;
	display: none;
	float: right;
	margin-right: 115px;
}

.ui-dialog-content .loading {
	margin-right: 10px;
}

.sortable li .loading {
	position: absolute;
	right: 10px;
	top: 50px;
	margin-right: 0px;
}

.upload-button {
	width: 60px;
	text-align: center;
	float: right;
	margin-left: 10px;
}

a.button,.upload-button {
	padding: 5px 13px;
}

.new-instance-button {
	float: right;
	position: relative;
	top: -46px;
}

html* .new-instance-button {   /* IE7 only */
	top: -20px;
}

a.order-button {
	float: right;
	margin-top: -50px;
	font-weight: bold;
}

.form-table input[type="text"],.form-table textarea {
	margin-bottom: 5px;
	width: 400px;
}

html* .form-table input[type="text"] {  /* IE7 only */
height:18px;
font-size:11px;
}

html* .form-table textarea {  /* IE7 only */
height:60px;
font-size:11px;
}

html* .upload-button{  /* IE7 only */
	margin-top:-32px;
}

.form-table input[type="text"] {
	height: 25px;
}

.form-table {
	margin-bottom: 20px;
}

.sortable li:hover {
	background-color: #f3f6f8;
	cursor: move;
	border-color: #90b2d1;
}

.edit-button {
	height: 16px;
	position: absolute;
	right: 10px;
	top: 30px;
	width: 16px;
	background: url(../images/edit.png) no-repeat;
}

.done-button {
	height: 16px;
	position: absolute;
	right: 10px;
	top: 30px;
	width: 16px;
	background: url(../images/done.png) no-repeat;
}

.delete-button,.delete-slider-button,.ui-dialog .ui-icon-closethick,.ui-dialog .ui-icon-closethick:hover
	{
	width: 16px;
	height: 16px;
	position: absolute;
	top: 10px;
	right: 10px;
	background: url(../images/delete.png) no-repeat;
}

.ui-dialog-titlebar .ui-state-hover {
	background-image: none;
	border-width: 0px;
	background-color: transparent;
}

.ui-dialog {
	padding: 7px 7px 14px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	border-width: 0px;
	background: url(../images/trans.png) repeat;
}

.chrome .ui-dialog{
	padding-bottom:21px;
}

.ui-dialog .ui-widget-header {
	height: 30px;
	background: url(../images/dialog_heading.png) repeat-x;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}

.ui-dialog .ui-widget-header .ui-icon-closethick {
	top: -2px;
	right: 5px;
}

.ui-dialog-title {
	text-shadow: 1px 1px #FFFFFF;
	font-weight: bold;
	font-size: 14px;
	position: relative;
	top: 5px;
}

.ui-dialog .ui-widget-content {
	background-color: #fff;
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	border-radius: 0px 0px 6px 6px;
	border-top: 1px solid #bec4ca;
	margin-bottom: -14px;
}

html* .ui-dialog .ui-widget-content{  /* IE7 only */
	margin-bottom: -7px;
}

.ui-dialog-content {
	font-size: 12px;
}

.ui-dialog-content label {
	display: block;
	margin: 10px 0 7px 0;
}

.button,.ui-dialog .ui-button {
	background: url("../images/white-grad.png") repeat-x scroll left top
		#F2F2F2;
	text-shadow: 0 1px 0 #FFFFFF;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	color: #464646;
	border: 1px solid #DFDFDF;
}

.button:hover,.ui-dialog .ui-button:hover {
	border-color: #acacac;
}

.ui-button-text-only .ui-button-text {
	font-size: 11px;
	padding: 4px 15px;
}



/* new menu options */
.nav-menus-php .ui-dialog-titlebar-close{border:none;}
.nav-menus-php .ui-icon-closethick{right:0px;left:0px;}
.nav-menus-php .ui-widget-overlay{position: fixed;width:100%;height:100%;z-index: 9999999;}
.nav-menus-php .ui-dialog{z-index: 100000000;}
.nav-menus-php .ui-dialog .imperio_icon_container{margin-bottom: -7px;}
.nav-menus-php .ui-dialog i{position:relative;float:left;width:30px;height:30px;font-size:25px;line-height:30px;margin:2px;border:1px solid #333;text-align:center;left: 12px;cursor:pointer;}
.nav-menus-php .ui-dialog i.selected{color:white;background:black;}
.nav-menus-php .ui-dialog .button{float: right;}
.nav-menus-php .ui-dialog .button_cancel{margin-right:10px;}
.nav-menus-php .imperio_input{position: relative;margin: 10px 0px;display: inline-block;padding-right: 10px;}
.nav-menus-php .field-css-classes .des{width: 300px;}

.nav-menus-php #menu-to-edit > li .imperio_input[for=imperio_mega_menu], .nav-menus-php #menu-to-edit > li input[name=imperio_mega_menu], .nav-menus-php #menu-to-edit > li .imperio_input[for=imperio_mega_hide_title], .nav-menus-php #menu-to-edit > li input[name=imperio_mega_hide_title]{display: none;}

.nav-menus-php #menu-to-edit > li.menu-item-depth-0 .imperio_input[for=imperio_mega_menu], .nav-menus-php #menu-to-edit > li.menu-item-depth-0 input[name=imperio_mega_menu] {display: inline-block;}

.nav-menus-php #menu-to-edit > li.menu-item-depth-1:not(.pending) .imperio_input[for=imperio_mega_hide_title], .nav-menus-php #menu-to-edit > li.menu-item-depth-1:not(.pending) input[name=imperio_mega_hide_title]{display: inline-block;}

.nav-menus-php #menu-to-edit > li .imperio_input[for=imperio_mega_hide_link], .nav-menus-php #menu-to-edit > li input[name=imperio_mega_hide_link]{display: none;}
.nav-menus-php #menu-to-edit > li.menu-item-depth-1 .imperio_input[for=imperio_mega_hide_link], .nav-menus-php #menu-to-edit > li.menu-item-depth-1 input[name=imperio_mega_hide_link]{display: inline-block;}

p.field-css-classes{position: relative;float:none !important;display: inline-block;}
.widefat.code.edit-menu-item-classes{display:none;}

.imperio_icon_container .clear{ height: 10px; }

.some-labels{ padding-left: 20px; padding-right: 8px; }